<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dang ki</title>
</head>
<body>
<h1>Dang ki thanh vien</h1>

{% if messages %}
  {% for message in messages %}
    <p style="color:red">{{message}}</p>
  {% endfor %}
{% endif %}

<form method="post">
  {% csrf_token %}
  <label for="username">Username:</label>
  <input type="text" name="username" id="username" required>
  <label for="password">Password:</label>
  <input type="text" name="password" id="password" required>
  <label for="confirm_password">Confirm Password:</label>
  <input type="text" name="confirm_password" id="confirm_password" required>
  <button type="submit">Dang ki</button>
</form>
<a href="{% url 'login' %}">Da co tai khoan? Dang nhap tai day</a>
</body>
</html>